*,
::before,
::after{

  

    box-sizing: border-box;

}

body{
    background: #967117;
}

h5{
    color: tomato;
    font-size: 45px;
}

.container{
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

h2{
    font-size: 36px;
    color: #FFA800;
}

h1{
    font-size: 46px;
    color: #FF6800;
}

h3{
    font-size: 46px;
    color: #FFFF00;
}

article{
    color: red;
    font-size: 40px;
    border: 2px solid black;
}


