body{
    background: #967117;
}

.container{
    width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}



h1{
    font-size: 46px;
    color: #FF6800;
}

h3{
    font-size: 46px;
    color: #FFFF00;
}

.top-text{
    font-size: 23px;
    color:yellow;
}

